@font-face {
    font-family: "FugazOne";
    src: url(FugazOne-Regular.ttf);
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 39px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 150px;
    
}
h2 {
    text-align: center;
    color:rgb(211, 25, 111);
    background-color: white;
    font-size: 32px;
    width: 50%;
    margin: auto;
    left: 0;
    border-radius: 5px;
}
.headerdiv {
    position: absolute;
    z-index: 1;
    text-align-last: center;
    width: 100%;
}
.headerdivhome {
    position: relative;
    text-align-last: center;
    width: 100%;
    margin-top: 100px;
}
.blackline {
    background-color: black;
    width: 60px;
    margin-top: 0;
    border: none;
    height: 1px;            
}
body {
    background-image: url(images/background_image_green.jpg);            
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: auto 0 10px 0;
    flex: 1;
}
.fixed-nav-bar {
    position: relative;
    margin-top: 0;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    min-height: 50px;
    height: auto;
    background-color: white;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
.empty {
    color: white !important;
}
.fixed-nav-bar > a {
    padding-right: 20px;
    font-family: FugazOne;
    font-size: 16pt;
    color: rgb(211, 25, 111);
}
/*.logofloat {
    position: fixed;
    float: left;
    top: 1px;
    right: 85%;
    width: 150px;
    z-index: 9999;
}*/
.homelogo {
    display: block;
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.homevideo {
    margin: 50px auto 200px auto;
}
a {
    text-decoration: none;
}




.downloadcaption {
    width: 100%;
    font-size: 75px;
    font-family: FugazOne;
    letter-spacing: 5px;
    color: rgb(211, 25, 111);
    text-align: center;
    opacity: 0;
    background-color: white;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50%;
    position: absolute;
}
.resumefigure {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 50px;
    width: 40%;
}
.resumeimage {
    width: 100%;
}
.resumelink:hover > .resumeimage {
    opacity: 0.5;
}
.resumelink:hover > .downloadcaption {
    opacity: .8;
    background-color: white;
}
.resumelink:hover {
    text-decoration: none;
}




.video-gallery {
    margin: 15px 15px 15px 15px;
    border-radius: 20px;
    flex-shrink: 2;
}
.video-gallery-div {
    /*background-image: url(images/background_image_green.jpg);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    gap: 10px;
    z-index: 0;
    margin-bottom: 200px;
}


.image-gallery {
    margin: 15px 15px 15px 15px;
    border-radius: 20px;
    flex-shrink: 2;
    width: 400px;
}
.image-gallery:hover {
    opacity: 0.5;
}
.image-gallery-div {
    width: 98%;
    min-height: 100vh;
    height: 100%;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    z-index: 0;
    color: #fff;
    margin-bottom: 200px;
}



.aboutmediv {
    margin: 150px auto 150px auto;
    display: flex;
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    row-gap: 100px;
    column-gap: 75px;
}
.aboutmepic {
    width: 30%;
    /*margin: 15px 15px 15px 15px;*/
    flex: 1;
    flex-shrink: 1;
}
.aboutmetext {
    /*margin: 15px 15px 15px 15px;*/
    /*padding-left: 125px;*/
    flex-shrink: 2;
    font-size: 18pt;
    color: white;
    /*width: 50%;*/
    line-height: 50px;
    letter-spacing: 2px;
    flex: 2;

}


.footernav {
    background-color: black;
    width: 100%;
    height: 0;
    margin: 0 0 0 0;
    bottom: 0;
    position: relative;
    padding-left: 0;
    padding-bottom: 0;
  display: table-footer-group;
}






/**NEW CSS HERE**/


.navicons {
	display: flex;
	position: relative;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto 100px 0;
    text-align: center;
	top: 50%;
	left: 50%;
    bottom: 0;
    width: auto;
	transform: translate(-50%,-50%);
    background-color: black;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.navicons li {
	list-style: none ;
    padding-left: 20px;
}

 .navicons li a {
	 width: 75px; 								
	 height: 75px;								 
	 background-color: #FFFFFF; 					
	 text-align: center; 
	 font-size: 60px; 							
	 line-height: 75px; 						
     margin: 0 10px; 							
	 display: block; 
	 border-radius: 50%;						 
	 position: relative;
	 overflow: hidden;
	 border: solid 3px #ffffff;
	 z-index: 2;
     flex-wrap: wrap;
}

.navicons li a .fa {
	position: relative;
	color: #262626; 				
	transition: .5s;
	z-index: 3;
}

.navicons li a:hover .fa {
	color: #FFFFFF; 				
	transform: rotateY(360deg);
}


.navicons li a:before {
	content: '';
	position: absolute;
	top: 100% ;
	left: 0% ;
	width: 100%;
	height: 100%;
	background-color: #FF0000;
	transition: .5s;
	z-index:1 ;
}

.navicons li a:hover:before {
	top: 0 ;
}


.navicons li:nth-child(1) a:before {
	background-color:#3b5999 ; 
}

.navicons li:nth-child(2) a:before {
	background-color:#55acee ; 
}

.navicons li:nth-child(3) a:before {
	background-color:#cd201f ; 
}

.navicons li:nth-child(4) a:before {
	background-color:#dd4b39 ; 
}

.navicons li:nth-child(5) a:before {
	background-color:#0077B5 ; 
}
